.cat1{
    margin-left: 50px;
}
img{
    height: 350px;
    width: 850px;
    margin-left: 70px;
}
#lion{
    color: red;
    text-align: center;
}
table{
border
}
span{
    background-color: yellow;
}